.dropdown-menu {
  max-height: 600px; /* Ограничение высоты выпадающего меню */
  overflow-y: auto; /* Добавление прокрутки при необходимости */
}

.dropdown-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три столбца */
  gap: 10px; /* Расстояние между элементами */
}

.dropdown-grid a {
  text-decoration: none;
  color: #000;
}

.author-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.author-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}